body {
	margin: 0 auto;
	padding: 0;
	max-width: 1440px;
	/*font-family: Montserrat;*/

}

.header {
	width: 100%;
	max-width: 1440px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 0px;
	padding-left: 0px;
}

.square {
position: absolute;
width: 100%;
min-width: 461px;
max-width: 700px;
height: 900px;
left: 0px;
top: 0px;
background: #000;
margin-right: 500px;
z-index: -1;
}

.header__logo {
position: relative;
display: flex;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.07em;
color: #FFF;
padding-top: 10px;
}

.header__lang {
	position: absolute;
	display: flex;
	padding-left: 276px;
	padding-top: 0px;


}
.lang__type {
display: flex;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;
text-transform: uppercase;
color: #FFF;
margin-right: 7px;
}
.lang__img {
	display: flex;
}

.header__menu {
	align-self: flex-end;
	margin-right: 0;
	padding-right: 0;
	
}
.menu__img {
	min-width: 70px;
	max-width: 92px;
    height: 92px;
    margin-bottom: 0;
}
.foot {

}
.header__social {
	display: flex;
	padding-left: 0px;
	padding-top: 0px;
}
.social {
	padding-right: 7px;
}


.first {
padding-top: -3px;
max-width: 1000px;
display: flex;
justify-content: space-between;
margin: 0 auto;
margin-bottom: 90px;
}

.first__img {
width: 100%;
max-width: 540px;
height: 562px;
padding-left: 0px;
padding-top: 0px;
}

.first__description {
	padding-left: 56px;
	padding-top: 0px;
}

.first__description-title {
width: 475px;
height: 164px;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 82px;
color: #000;
margin-bottom: 26px;
}

.first__description-text {
width: 467px;
height: 127px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;

}
.first-buttons {
	max-width: 700px;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
.first__button {
text-align: center;
text-transform: uppercase;
width: 203px;
height: 44px;
border: 1.5px solid #000;
box-sizing: border-box;
background: none;
}
.other {
display: flex;
width: 300px;
height: 0px;
padding-left: 54px;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 0px;
align-items: baseline;
padding-top: 15px;
}
.first__other {
width: 172px;
height: 0px;
font-style: normal;
font-weight: 500;
font-size: 13px;
text-decoration: none;
text-transform: uppercase;
line-height: 0px;
color: #000;
}
.first__other-arrow {
	display: flex;
	margin-right: 7px;

}

.first__scroll {
	position: absolute;
	width: 100%;
	min-width: 320px;
	max-width: 1400px;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
.first__scroll-img {
position: absolute;
width: 308px;
height: 807px;
left: 385px;
top: 300px;

}

.vector  {
	display: none;
}

/*Адаптив для мобильных*/

   @media  (min-width: 320px) and (max-width: 532px) {
	.header {
		/*padding-top: 0;*/
		width: 100%;
		max-width: 1024px;
		min-width: 320px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		box-sizing: border-box;
		margin-left: 0px;
	}

.square {
	display: none;
}

	.header__logo {
	color: #000;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 30px;
	padding-left: 26px;
}


.header__lang {
	display: none;
	padding-left: 0px;
}

.header__menu  {
padding-top: 0px;
padding-left: 0px;
align-self: baseline;

}
.menu__img {
width: 100%;
min-width: 70px;
min-height: 69px;
overflow: inherit;
}
.header__social {
	display: none;
}
.first {
	margin-top: -4px;
	width: 100%;
	min-width: 320px;
	max-width: 1025px;
	flex-direction: column;
	max-height: 700px;
	margin-left: 0px;
}
   .first__img {
	/*display: none;*/
	object-fit: cover;
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 320px;
	max-width: 540px;
    width: auto;
    height: auto;
	padding-top: 0px;
	padding-left: 0px;
	left: 0px;
	top: 0px;
	z-index: -1;
	margin-left: 0px;
	margin-right: 0px;
}

.first__description {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	position: absolute;
	top: 450px;
}

.first__description-title {
z-index: 2;
font-size: 50px;
line-height: 51px;
width: 297px;
height: 103px;
}

.first__description-text, .first-buttons  {
	display: none;
}

.first__scroll{
display: none;
}
.vector {
display: flex;
justify-content: center;
}

	.first-vector {
position: absolute;
width: 28px;
height: 14px;
left: 175px;
top: 600px;
	}
.second {
	display: none;
}
.third {
	display: none;
}
}

/*/*Адаптив для мобильных*/

/* адаптив для айпадов*/

@media  (min-width: 540px) and (max-width: 650px) {

	.header {
		/*padding-top: 0;*/
		width: 100%;
		max-width: 1024px;
		min-width: 320px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		box-sizing: border-box;
		margin-left: 0px;
	}

.square {
	display: none;
}

	.header__logo {
	color: #000;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 30px;
	padding-left: 26px;
}


.header__lang {
	display: none;
	padding-left: 0px;
}

.header__menu  {
padding-top: 0px;
padding-left: 0px;
align-self: baseline;

}
.menu__img {
width: 100%;
min-width: 70px;
min-height: 69px;
overflow: inherit;
}
.header__social {
	display: none;
}
.first {
	margin-top: -4px;
	width: 100%;
	min-width: 320px;
	max-width: 1025px;
	flex-direction: column;
	max-height: 700px;
	margin-left: 0px;
}
   .first__img {
	/*display: none;*/
	object-fit: cover;
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 540px;
	max-width: 650px;
    width: auto;
    height: auto;
    min-height: 562px;
    max-height: 700px;
	padding-top: 0px;
	padding-left: 0px;
	left: 0px;
	top: 0px;
	z-index: -1;
	margin-left: 0px;
	margin-right: 0px;
}

.first__description {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	position: absolute;
	top: 450px;
}

.first__description-title {
z-index: 2;
font-size: 50px;
line-height: 51px;
width: 297px;
height: 103px;
padding-left: 90px;
}

.first__description-text, .first-buttons  {
	display: none;
}

.first__scroll{
display: none;
}
.vector {
display: flex;
justify-content: center;
}

	.first-vector {
position: absolute;
width: 28px;
height: 14px;
left: 175px;
top: 600px;
padding-left: 50px;
	}
.second {
	display: none;
}
.third {
	display: none;
}
}


/*.header {
	width: 100%;
	max-width: 1200px;
	padding-left: 40px;
}
.square {
	width: 100%;
	max-width: 400px;
}
 .first {
 	padding-left: 40px;
 }
 .foot {
 	padding-left: 40px;
 }*/

 /* адаптив для айпадов*/


 @media (min-width: 650px) and (max-width:900px){
 	.header {
		/*padding-top: 0;*/
		width: 100%;
		max-width: 1200px;
		min-width: 650px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		box-sizing: border-box;
		margin-left: 0px;
	}

.square {
	display: none;
	width: 100%;
	min-width: : 768px;
	max-width: 1024px;
}

	.header__logo {
	color: #000;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 30px;
	padding-left: 26px;
}


.header__lang {
	display: none;
	padding-left: 0px;
}

.header__menu  {
padding-top: 0px;
padding-left: 0px;
align-self: baseline;

}
.menu__img {
width: 100%;
min-width: 70px;
min-height: 69px;
overflow: inherit;
}
.header__social {
	display: none;
}
.first {
	margin: 0 auto;
	margin-top: -4px;
	width: 100%;
	min-width: 650px;
	max-width: 1200px;
	flex-direction: column;
	max-height: 700px;
	margin-left: 0px;
	padding-left: 0px;
}
   .first__img {
	/*display: none;*/
	display:block;
width:100%;
height:100%;
	object-fit: cover;
	/*position: center;*/
	min-width: 650px;
	max-width: 768px;
    /*width: 100%;*/
    /*height: auto;*/
    min-height: 700px;
    max-height: 700px;
	padding-top: 0px;
	padding-left: 0px;
	left: 107px;
	top: 92px;
	z-index: -1;
	margin-left: 0px;
	margin-right: 0px;
}

.first__description {
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	position: absolute;
	left: 130px;
	top: 450px;
}

.first__description-title {
z-index: 2;
font-size: 50px;
line-height: 51px;
width: 297px;
height: 103px;
padding-left: 90px;
}

.first__description-text, .first-buttons  {
	display: none;
}

.first__scroll{
display: none;
}
.vector {
display: flex;
justify-content: center;
}

	.first-vector {
position: absolute;
width: 28px;
height: 14px;
left: 175px;
top: 600px;
padding-left: 172px;
	}
.second {
	display: none;
}
.third {
	display: none;
}
}
 }