body {
	margin: 0 auto;
	padding: 0;
	/*font-family: Montserrat;*/

}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 0px;
	/*padding-left: 52px;*/
}

.header__logo-wrap {
	display: flex;
	padding-left: 52px;
}

.header__logo {
position: relative;
display: flex;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
text-align: center;
text-transform: uppercase;
letter-spacing: 0.07em;
color: #FFF;
padding-top: 10px;
}

.header__lang {
	position: absolute;
	display: flex;
	padding-left: 300px;
	padding-top: 0px;


}
.lang__type {
display: flex;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: right;
text-transform: uppercase;
color: #FFF;
margin-right: 7px;
}
.lang__img {
	display: flex;
}

.header__menu {
	margin-right: 0;
	padding-right: 0;
	
}
.menu__img-adaptive {
	display: none;
}

.foot {
display: flex;
padding: 24px 0;
}
.header__social {
	display: flex;
	padding-left: 47px;
	padding-top: 0px;
}
.social {
	padding-right: 7px;
}
.first__scroll-img {
padding-left: 514px;
}

.first {
display: flex;
justify-content: space-between;
margin: 0 auto;
margin-bottom: 90px;
}
.square {
position: absolute;
width: auto;
min-width: 461px;
max-width: 700px;
height: 900px;
left: 0px;
top: 0px;
background: #000;
margin-right: 500px;
z-index: -1;
}
.first__article {
	padding-left: 186px;
	display: flex;
	justify-content: center;
}
.first__img {
width: 100%;
height: 100%;
padding-left: 0px;
padding-top: 0px;
}

.first__description {
	padding-left: 56px;
	padding-top: 0px;
}
.first-vector {
	display: none;
}

.first__description-title {
width: 475px;
height: 164px;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 82px;
color: #000;
margin-bottom: 26px;
}

.first__description-text {
width: 467px;
height: 127px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;

}
.first-buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}
.first__button {
text-align: center;
text-transform: uppercase;
width: 203px;
height: 44px;
border: 1.5px solid #000;
box-sizing: border-box;
background: none;
}
.other {
display: flex;
align-items: center;

}
.first__other {
width: 172px;
height: 0px;
font-style: normal;
font-weight: 500;
font-size: 13px;
text-decoration: none;
text-transform: uppercase;
line-height: 0px;
color: #000;
}
.first__other-arrow {
	display: flex;
	margin-right: 7px;
}

.second {
	display: none;
}
.third {
	display: none;
}

/*Адаптив для мобильных*/

   @media  (min-width: 320px) and (max-width: 518px) {
	.header {
		padding-top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		box-sizing: border-box;
		margin-left: 0px;
		padding-left: 0px;
	}

.square {
	display: none;
}
.header__logo-wrap {
	padding-left: 0px;
}
	.header__logo {
	color: #000;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 30px;
	padding-left: 26px;
}

.header__logo-wrap  {
	padding-left: 0px;
}
.header__lang {
	display: none;
	padding-left: 0px;
}
.lang__type {
display: none;
}
.lang__img {
	display: none;
}
.header__menu  {
padding-top: 0px;
padding-left: 0px;
align-self: baseline;

}
.menu__img {
	display: none;
}
.menu__img-adaptive {
display: flex;
width: 100%;
}

.header__social {
	display: none;
}
.foot {
	display: none;
}
.first {
	margin-top: -25px;
	width: 100%;
	min-width: 320px;
	max-width: 1025px;
	flex-direction: column;
	max-height: 700px;
	padding-left: 0px;
}
.first__article {
	padding: 0px;
}
   .first__img {
	margin: 0 auto;
	width: 100%;
	z-index: -1;
}

.first__description {
position: absolute;
top: 290px;

padding-left: 40px;
}

.first__description-title {
	margin: 0 auto;
	font-size: 50px;
line-height: 51px;
width: 297px;
height: 103px;
padding-left: 0px;
}

	.first-vector {
	display: flex;
	align-items: center;
	margin: 0 auto;
    width: 28px;
   height: 14px;

	}
.first__description-text, .first-buttons  {
	display: none;
}

.second {
	display: none;
}
.third {
	display: none;
}
}

/*Адаптив для мобильных*/

 
 /*Адаптив для планшетов*/

 @media  (min-width: 520px) and (max-width: 1030px) {
	.header {
		padding-top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		box-sizing: border-box;
		margin-left: 0px;
		padding-left: 40px;
	}

.square {
	display: none;
}
.header__logo-wrap  {
	padding-left: 0px;
}
	.header__logo {
	color: #000;
	font-size: 30px;
	padding-top: 25px;
	margin-bottom: 30px;
	padding-left: 26px;
}


.header__lang {
	display: none;
	padding-left: 0px;
}

.header__menu  {
padding-top: 0px;
padding-left: 0px;
align-self: baseline;

}
.menu__img-adaptive {
	display: none;
}
.menu__img {
width: 100%;
}

.header__social {
	display: none;
}
.foot {
	display: none;
}
.first {
	margin-top: -4px;
	width: 100%;
	min-width: 320px;
	max-width: 1025px;
	flex-direction: column;
	max-height: 700px;
	padding-left: 0px;
}
.first__article {
	padding-left: 0px;
}
   .first__img {
	margin: 0 auto;
	width: 100%;
	z-index: -1;
}

.first__description {
position: absolute;
margin: 0 auto;
top: 555px;

padding-left: 40px;
}

.first__description-title {
	margin: 0 auto;
	font-size: 50px;
line-height: 51px;
width: 297px;
height: 103px;
padding-left: 0px;
}

	.first-vector {
	display: flex;
	margin: 0 auto;
    width: 28px;
   height: 14px;

	}
.first__description-text, .first-buttons  {
	display: none;
}

.second {
	display: none;
}
.third {
	display: none;
}
}

 }
 /*Адаптив для планшетов*/


